{% extends "TournamentBundle::layout.html.twig" %}

{% block title %}Peloton - {{ parent() }}{% endblock %}

{% block tournament_content %}
    <h3>Liste des participants</h3>
    <ul>
        {% for peloton in pelotons %}                
        {% for participant in peloton.participants %}
            
        <li>
            <a href="">{{ participant.participant.fullName }} | {{ peloton.startTime|date('d/m/Y H:i') }}</a>
        </li>
        {% endfor %}        
        {% endfor %}
    </ul>
{% endblock %}
