{% extends "TournamentBundle::layout.html.twig" %}

{% block title %} - {{ parent() }}{% endblock %}

{% block tournament_content %}    
    <h3>{{ peloton.startTime|date('d/m/Y H:i') }}</h3>   

    <h3>
    Liste des participants
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary" >Ajouter un particpant</a>
    {% endif %}
    </h3>
{% endblock %}
